.posts-section {
  padding: 3rem 0;
}

.posts-section .post-item .card-titile {
  color: var(--primary-color);
}

.posts-section .post-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.posts-section .post-item {
  overflow: hidden;
}

.posts-section .post-item .card-img-top {
  height: 200px;
  width: auto;
  transition: all .5s;
}

.posts-section .post-item:hover .card-img-top {
  transform: scale(1.1);
}

/* Show menu on card hover */
.posts-section .post-item {
  position: relative;
}

.posts-section .post-item-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.posts-section .post-item-menu .menu-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;

  color: rgba(255, 255, 255, 0.5);
  background-color: #444;

  border-radius: 50%;
  border: 1px solid rgb(177, 173, 173);
  opacity: 0.7;
}

.posts-section .post-item-menu .menu-item:hover {
  color: #fff;
  background-color: #111;
  opacity: 1;
  border: 1px solid fff;

}


@media only screen and (min-width: 768px) {
  .posts-section .post-item .post-item-menu {
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .posts-section .post-item:hover .post-item-menu {
    transform: scale(1);
    opacity: 1;
  }
}

/* User primary color for pagination */
.posts-nav .page-item .page-link {
  color: #444;
  outline: none;
}

.posts-nav .page-item.active {
  color: var(--primary-color)
}

.posts-nav .page-item .page-link:focus, .posts-nav .page-item .page-link:active,.posts-nav .page-item .page-link:active,
.posts-nav .page-item:focus, .posts-nav .page-item:active,.posts-nav .page-item:hover {
  outline: none !important;
  background: none;
  box-shadow: none !important;
  
}

.posts-nav .active-page{
  color: var(--primary-color) !important
}

.posts-nav .disabled {
  pointer-events: none;
}



.posts-nav .page-item:not(.active) .page-link:hover {
  color: var(--primary-color)
}


.btn-custom {
  min-width: 80px !important
}


.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.show {
  opacity: 1;
  transform: scale(1);
}